@media (min-width: 768px) {
  #visa-service > div { flex-direction: row !important; align-items: center; gap: 50px !important; }
  #visa-service > div > div { flex: 1; }
  #visa-service h2 { font-size: 36px !important; }
  #visa-service a { max-width: fit-content; padding: 14px 28px !important; }
}
